.authWrapper {
  text-align: center;
  border-radius: 12px;
  padding: 10px;
  background-color: #27ae60;
  border: 2px solid #95afc0;
  box-shadow: 
  rgba(0, 0, 0, 0.25) 0px 54px 55px,
  rgba(0, 0, 0, 0.12) 0px -12px 30px,
  rgba(0, 0, 0, 0.12) 0px 4px 6px,
  rgba(0, 0, 0, 0.17) 0px 12px 13px,
  rgba(0, 0, 0, 0.09) 0px -3px 5px;
  animation: appearance 0.5s backwards 1s;

  .inputContainer {
    margin-top: 4px;
    display: flex;
    flex-direction: column;
    gap: 8px;

    input {
      color: white;
      height: 20px;
      padding: 2px 8px;
      border: 1px solid rgb(21, 21, 21);
      border-radius: 6px;
      background: transparent;

      &::placeholder {
        color: rgb(65, 65, 65);
        font-size: 12px;
      }

      &:focus {
        outline: 0;
        background: #2ecc71;
        border: 1px solid black;
      }
    }

    button {
      border: none;
      background: #ecf0f1;
      border-radius: 6px;
      padding: 4px 0px;

      &:hover {
        background: #bdc3c7;
      }
    }

    .greyBtn {
      background: transparent;
      color: rgb(191, 191, 191);
      &:hover {
        background: transparent;
      }
    }
  }
}

@keyframes appearance {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
